{% extends 'base.html' %}

{% block title %}Realizar Examen{% endblock %}

{% block head %}
<style>
    .examen-container {
        padding: 20px;
        max-width: 800px;
        margin: auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1, h2 {
        color: #333;
        text-align: center;
    }
    .pregunta {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .respuesta {
        margin: 10px 0;
    }
    .botones-navegacion {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .boton-siguiente, .boton-finalizar {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .boton-finalizar {
        background-color: #28a745;
    }
    .boton-siguiente:hover {
        background-color: #0056b3;
    }
    .boton-finalizar:hover {
        background-color: #218838;
    }
</style>
{% endblock %}

{% block content %}
<div class="examen-container">
    <h1>{{ nombre_examen }}</h1>
    <h2>Usuario: {{ nombre_usuario }}</h2>
    <p><strong>Cédula:</strong> {{ cedula }}</p>
    <p><strong>Correo Electrónico:</strong> {{ correo }}</p>

    <form method="post">
        {% csrf_token %}
        {% for pregunta in pagina_actual %}
            <div class="pregunta">
                <p><strong>{{ forloop.counter }}. {{ pregunta.texto }}</strong></p>
                {% for respuesta in pregunta.respuestas.all %}
                    <div class="respuesta">
                        <input type="radio" name="respuesta_{{ pregunta.id }}" value="{{ respuesta.texto }}" id="respuesta_{{ respuesta.id }}">
                        <label for="respuesta_{{ respuesta.id }}">{{ respuesta.texto }}</label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="botones-navegacion">
            {% if pagina_actual.has_previous %}
                <a href="{% url 'dashboard_users:generar_examen' user_exam.id pagina_actual.previous_page_number %}" class="boton-siguiente">Anterior</a>
            {% endif %}
            {% if pagina_actual.has_next %}
                <button type="submit" class="boton-siguiente">Siguiente</button>
            {% else %}
                <button type="submit" name="finalizar" class="boton-finalizar">Finalizar Examen</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

