{% extends "base.html" %}

{% block content %}
<h1>{{ examen.nombre }}</h1>

{% if error %}
    <p>{{ error }}</p>
{% elif cuenta_regresiva %}
    <p>{{ mensaje }} {{ cuenta_regresiva }} segundos</p>
{% else %}
    <p>Tiempo restante: {{ tiempo_restante }} segundos</p>

    <form method="post">
        {% csrf_token %}
        {% for pregunta in preguntas %}
            <div>
                <p>{{ pregunta.texto }}</p>
                <ul>
                    <li><input type="radio" name="respuesta_{{ pregunta.id }}" value="1">{{ pregunta.respuesta1 }}</li>
                    <li><input type="radio" name="respuesta_{{ pregunta.id }}" value="2">{{ pregunta.respuesta2 }}</li>
                    <li><input type="radio" name="respuesta_{{ pregunta.id }}" value="3">{{ pregunta.respuesta3 }}</li>
                    <li><input type="radio" name="respuesta_{{ pregunta.id }}" value="4">{{ pregunta.respuesta4 }}</li>
                </ul>
            </div>
        {% endfor %}

        <button type="submit">Enviar</button>
    </form>

    <div>
        <span>Paginas:</span>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endif %}
{% endblock %}
