crear_pregunta.html

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Crear Pregunta</title>
</head>
<body>
<div class="container mt-5">
    <h2>Crear Pregunta</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Pregunta</button>
        <a href="{% url 'detalle_modulo' tipo_examen.id modulo.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>
"""