<!DOCTYPE html>
<html>
<head>
    <title>Agregar Pregunta</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Agregar Pregunta</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="respuesta-formset">
            <h3>Respuestas</h3>
            {{ respuesta_formset.management_form }}
            {% for form in respuesta_formset %}
                {{ form.as_p }}
            {% endfor %}
        </div>
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'admin_panel:lista_preguntas' %}">Volver a la lista de preguntas</a>

    <script>
        $(document).ready(function() {
            // Mostrar/ocultar respuestas según si es un enunciado
            $('#id_es_enunciado').change(function() {
                if ($(this).is(':checked')) {
                    $('#respuesta-formset').hide();
                } else {
                    $('#respuesta-formset').show();
                }
            }).trigger('change'); // Ejecutar al cargar la página
        });
    </script>
</body>
</html>

