{% extends 'base.html' %}

{% block title %}Gestionar Exámenes{% endblock %}

{% block content %}
<h1>Lista de Exámenes</h1>

<form method="get" class="date-filter-form">
    <label for="year">Año:</label>
    <select name="year" id="year">
        {% for y in year_list %}
        <option value="{{ y }}" {% if y == current_year %}selected{% endif %}>{{ y }}</option>
        {% endfor %}
    </select>
    
    <label for="month">Mes:</label>
    <select name="month" id="month">
        {% for m in month_list %}
        <option value="{{ m.value }}" {% if m.value == current_month %}selected{% endif %}>{{ m.name }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Filtrar</button>
</form>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>
                <a href="?order=fecha&direction={% if request.GET.direction == 'asc' and request.GET.order == 'fecha' %}desc{% else %}asc{% endif %}">
                    Fecha
                    {% if request.GET.order == 'fecha' %}
                        {% if request.GET.direction == 'asc' %}
                            &#9650; <!-- Flecha hacia arriba -->
                        {% else %}
                            &#9660; <!-- Flecha hacia abajo -->
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for examen in examenes %}
        <tr>
            <td>{{ examen.nombre }}</td>
            <td>{{ examen.fecha }}</td>
            <td>{{ examen.hora }}</td>
            <td>
                <a href="{% url 'admin_panel:editar_examen' examen.pk %}">Editar</a>
                <a href="{% url 'admin_panel:eliminar_examen' examen.pk %}">Eliminar</a>
                <a href="{% url 'admin_panel:usuarios_inscritos' examen.pk %}">Usuarios Inscritos</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'admin_panel:crear_examen' %}">Crear Nuevo Examen</a>
{% endblock %}
